body{color:#333}
.bg{background:url(../images/bg_fm.png) no-repeat}
.w454{width:454px;}
.w550{width:550px;}
.bdr1,.bdr2,.bdr3{border:1px solid #e1dede}
.box_win .bar{line-height:37px; padding-left:15px; background-position:0 -618px; margin-bottom:25px; font-size:16px}
.box_win .bar img{width:37pxpx; height:37px; float:right}
.bdr1 p{line-height:25px; margin:15px 60px;}
.bdr1 p input{line-height:23px; height:23px; border:1px solid #e1dede; background-position:-1px -458px}
.bdr2 p{line-height:28px; font-size:16px;margin:15px 55px; }
.bdr2 p input{line-height:28px; height:28px; width:237px; border:1px solid #e1dede; background-position:0 -244px}
.bdr3 p{ font-size:18px; margin:35px; line-height:32px}
.bdr3 img{ width:210px; height:143px; margin-left:35px}
.box_win ul{ list-style:none; margin:0 0 0 130px}
.box_win ul li{ line-height:28px}
.box_win ul li input{ width:17px; height:16px; background-position:-179px -460px; border:0; margin:8px 16px 0 0; float:left; clear:both}
.box_win a.qd,.box_win a.qd2{text-align:center; color:#FFF; font-weight:bold; font-size:16px; margin:40px 0 40px 65%; display:block}
.box_win a.qd2{background-position:-146px -488px; width:102px; line-height:39px;}
.box_win a.qd{background-position:-256px -456px; width:81px; line-height:28px;}
.box_win h4{ padding:20px 0 20px 8px; margin:0 22px; font-size:12px; font-weight:normal; border-top:1px dashed #dfdfdf; clear:both}
.box_win .content_r{float:right;width:210px; margin:20px 20px }
.box_win .content_l{ margin:20px}
.box_win .content_l p,.box_win .content_r p{line-height:30px; margin:0;}

.box_win .bar2,.box_win .bar3{ line-height:45px; padding-left:30px; font-size:18px; background-color:#e3873c; color:#FFf;}
.box_win .bar2{background-position:510px -510px;}
.box_win .bar3{background-position:415px -510px;}
.box_win .bar2 img,.box_win .bar3 img{ width:45pxpx; height:45px; float:right}

.w945{ width:945px; margin:125px auto 0; }
.hydl{ font-size:30px; padding-left:278px; line-height:66px; background-position:30px -50px; width:120px; margin-bottom:40px}
.box_dl{width:320px;height:322px; padding:20px 35px; border:5px solid #e8e8e8; float:right}
.box_dl .input1{ background-position:0 -728px;}
.box_dl .input2{ background-position:0 -769px;}
.box_dl .input1,.box_dl .input2{line-height:40px; height:40px;padding:0 5px; border:0; color:#999; width:308px;}
.box_dl a.dl{ width:318px; line-height:44px; background-position:0 -810px; color:#FFF; text-align:center; display:block; font-size:18px; margin:15px 0}
.box_dl a.wjmm{ float:right;color:#ff8100;}
.box_dl p{line-height:25px; margin-top:25px}
.bg_f{ width:500px; height:400px; background-position:0 -880px}

.box_win textarea {height:151px;background-position:0 -283px;border:1px solid #e0e0e0; width:410px;margin:40px 65px 40px; opacity:0.6; font-size:14px;}
