<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<link href="css/pc_fm.css" rel="stylesheet" type="text/css">
<link href="css/pc_common.css" rel="stylesheet" type="text/css">
<title>无标题文档</title>
</head>
<body>
<div class="w1000 top"><span class="sjb bg"><a href="#">手机版</a></span><span>忘记密码?</span><span>|</span><span>退出登录</span><span>|</span><span class="nm">王某某</span><span>欢迎，</span></div>
<div class="w1000">
  <div class="srh bg"><img src="images/blank.png" />
    <input name="" type="text" />
    <span>首页</span><span>我的房猫</span><span>设置</span> </div>
  <div class="logo bg"></div>
</div>
<div class="w1000 bdr">
  <div class="w172_l">
    <p>王某某</p>
    <img class="tx" src="images/tx.jpg" /><a href="#">个人设置</a><a href="#">账户开通</a><a href="#">活跃度查询</a><a href="#">申诉平台</a><a href="#">安全中心</a>
    <div class="ewm"><span>房猫手机移动端</span> <img src="images/ewm.jpg" /> <span>手机端快速便捷报备</span> </div>
  </div>
  <div class="w800">
    <p class="nm">王某某<span>(外联经理)</span></p>
    <p class="zbb">总报备： <span>1202</span> |  总带看： <span>32</span> |  总成交: <span>1200</span></p>
    <div class="box1">
      <h3>活跃度查询</h3>
      <div class="pm"><a class="line" href="#">综合排名</a><span>|</span><a href="#">报备排名</a><span>|</span><a href="#">带看排名</a><span>|</span><a href="#">成交排名</a></div> 
      <table border="0" class="table1">
        <tr>
          <th scope="col">排名</th>
          <th scope="col">姓名</th>
          <th scope="col"  class="w210">总分</th>
          <th scope="col" >邀请码</th>
          <th scope="col">手机号码</th>
        </tr>
        <tr class="grey_bg">
          <td><img class="img_pm1 bg" src="images/blank.png" /></td>
          <td>万某某</td>
          <td>80分<br />
            （报备30 带看20分 成交50分）</td>
          <td>100054</td>
          <td>18653569875</td>
        </tr>
        <tr>
          <td><img class="img_pm2 bg" src="images/blank.png" /></td>
          <td>万某某</td>
          <td>80分<br />
            （报备30 带看20分 成交50分）</td>
          <td>100054</td>
          <td>18653569875</td>
        </tr>
        <tr class="grey_bg">
          <td><img class="img_pm3 bg" src="images/blank.png" /></td>
          <td>万某某</td>
          <td>80分<br />
            （报备30 带看20分 成交50分）</td>
          <td>100054</td>
          <td>18653569875</td>
        </tr>
        <tr>
          <td>4</td>
          <td>万某某</td>
          <td>80分<br />
            （报备30 带看20分 成交50分）</td>
          <td>100054</td>
          <td>18653569875</td>
        </tr>
        <tr class="grey_bg">
          <td>5</td>
          <td>万某某</td>
          <td>80分<br />
            （报备30 带看20分 成交50分）</td>
          <td>100054</td>
          <td>18653569875</td>
        </tr>
        <tr>
          <td>6</td>
          <td>万某某</td>
          <td>80分<br />
            （报备30 带看20分 成交50分）</td>
          <td>100054</td>
          <td>18653569875</td>
        </tr>
        <tr class="grey_bg">
          <td>7</td>
          <td>万某某</td>
          <td>80分<br />
            （报备30 带看20分 成交50分）</td>
          <td>100054</td>
          <td>18653569875</td>
        </tr>
        <tr>
          <td>8</td>
          <td>万某某</td>
          <td>80分<br />
            （报备30 带看20分 成交50分）</td>
          <td>100054</td>
          <td>18653569875</td>
        </tr>
      </table>
    </div>
    <div class="page"><a href="#"  class="pg1 bg">Go</a><a href="#" class="pg3 bg">1</a><a href="#" class="pg3 bg">下一页</a><a href="#" class="pg3 bg">22</a><a href="#" class="pg3 bg">21</a><span>...</span><a href="#"  class="pg2 bg">4</a><a href="#" class="pg2 bg">3</a><a href="#" class="pg2 bg">2</a><a href="#" class="pg1 bg">1</a></div>
  </div>
  <div class="clr"></div>
</div>
<div class="footer">
  <p>©2000-2014 ksls.com.cn 房猫经纪人 </p>
  <p>微信公众账号:kunshanloushi &nbsp;&nbsp;&nbsp;&nbsp;客服电话:400-626-9900</p>
</div>
</body>
</html>
