<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<link href="css/pc_popup.css" rel="stylesheet" type="text/css">
<link href="css/pc_common.css" rel="stylesheet" type="text/css">
<title>无标题文档</title>
</head>
<body>
<div class="box_win w454">
  <div class="bar3 bg"><a href="#"><img src="images/blank.png"  /></a>业务员修改</div>
  <div class="bdr2">
  <p style="margin-top:50px">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：
    <input  class="bg" name="" type="text" />
  </p>
  <p>手机号码：
    <input class="bg" name="" type="text" />
  </p>
  <a class="qd2 bg"  href="#">确  定</a>
</div>
</div>
</body>
</html>
