<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<link href="css/pc_popup.css" rel="stylesheet" type="text/css">
<link href="css/pc_common.css" rel="stylesheet" type="text/css">
<title>无标题文档</title>
</head>
<body>
<div class="box_win w454">
  <div class="bar3 bg"><a href="#"><img src="images/blank.png"  /></a>修改密码</div>
  <div class="bdr1">
  <P style="margin-left:30px">修改密码关系到您的帐号安全</P>
  <p>旧的密码：
    <input  class="bg" name="" type="text" />
  </p>
  <p>新的密码：
    <input class="bg" name="" type="text" />
  </p>
  <p>确定密码：
    <input class="bg" name="" type="text" />
  </p>
  <a class="qd2 bg"  href="#">确  定</a>
  <h4>* 默认密码为888888。<br />
    * 请勿随意泄露密码，以防被不法分子利用，骗取帐号信息。</h4>
</div>
</div>
</body>
</html>
