<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<link href="css/pc_popup.css" rel="stylesheet" type="text/css">
<link href="css/pc_common.css" rel="stylesheet" type="text/css">
<title>无标题文档</title>
</head>
<body>
<div class="w945">
<div class="hydl bg">欢迎登录</div>
  <div class="box_dl"><p>用户名</p><input class="input1 bg" name="" type="text" value="请输入11位手机号码" onfocus="if(this.value=='默认值'){this.value=''}" /><p>密码</p><input class="input2 bg" name="" type="text" value="请输入您的登录密码" onfocus="if(this.value=='默认值'){this.value=''}" />
  <a href="#" class="dl bg">登 录</a><a href="#" class="wjmm">忘记密码？</a></div>
  <div class="bg_f bg"></div>
</div>
</body>
</html>
