<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<link href="css/pc_popup.css" rel="stylesheet" type="text/css">
<link href="css/pc_common.css" rel="stylesheet" type="text/css">
<title>无标题文档</title>
</head>
<body>
<div class="box_win w550">
  <div class="bar2 bg"><a href="#"><img src="images/blank.png"  /></a>动态详情</div>
  <div class="bdr3">
  <P>白鹭湾于2016年12月15日合作到期，望各位经纪人知晓...</P>
  <img src="images/pic1.jpg" /> <img src="images/pic2.jpg" />  <a class="qd2 bg"  href="#">确  定</a>
</div>
</div>
</body>
</html>
