<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<link href="css/pc_fm.css" rel="stylesheet" type="text/css">
<link href="css/pc_common.css" rel="stylesheet" type="text/css">
<title>无标题文档</title>
</head>
<body>
<div class="w1000 top"><span class="sjb bg"><a href="#">手机版</a></span><span>忘记密码?</span><span>|</span><span>退出登录</span><span>|</span><span class="nm">王某某</span><span>欢迎，</span></div>
<div class="w1000">
  <div class="srh bg"><a href="#"><img src="images/blank.png" /></a>
    <input name="" type="text" />
    <span>首页</span><span>我的房猫</span><span>设置</span> </div>
  <div class="logo bg"></div>
</div>
<div class="w1000 bdr">
  <div class="w172_l">
    <p>王某某</p>
    <img class="tx" src="images/tx.jpg" /><a href="#">个人设置</a><a href="#">我的报备</a><a href="#">我要报备</a><a href="#">地产学堂</a><a href="#">安全中心</a>
    <div class="ewm"><span>房猫手机移动端</span> <img src="images/ewm.jpg" /> <span>手机端快速便捷报备</span> </div>
  </div>
  <div class="w800">
    <h1>我的房猫><span>地产学堂</span></h1>
    <h1>[ 视频 ] 最牛经纪人分享卖新房秘诀，百度搜不到！ </h1>
    <p>2015-01-27  <span class="blue_txt">房猫经纪人服务</span></p>
    <div class="sp">
      <p>如果你还在单纯的用纸笔接待客户，那么你就out了。快看昆山的最牛经纪人，是如何用手中的房猫手机端，在房市低迷的行情下傲视群雄的吧！</p>
      <img src="images/pic3.jpg"  />
      <p>每年，有成千上万的年轻人，前赴后继的走进房产中介这个行业里。开始的时候雄心壮志，渐渐开始迷茫彷徨，到最后唏嘘离开。这其中的原因，无非是他们并没有真正意义上的懂得怎样去卖房。</p>
    </div>
  </div>
  <div class="clr"></div>
</div>
<div class="footer">
  <p>©2000-2014 ksls.com.cn 房猫经纪人 </p>
  <p>微信公众账号:kunshanloushi &nbsp;&nbsp;&nbsp;&nbsp;客服电话:400-626-9900</p>
</div>
</body>
</html>
