<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<link href="css/pc_fm.css" rel="stylesheet" type="text/css">
<link href="css/pc_common.css" rel="stylesheet" type="text/css">
<title>无标题文档</title>
<script type="text/javascript">
function MM_jumpMenu(targ,selObj,restore){ //v3.0
  eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
  if (restore) selObj.selectedIndex=0;
}
</script>
</head>
<body>
<div class="w1000 top"><span class="sjb bg"><a href="#">手机版</a></span><span>忘记密码?</span><span>|</span><span>退出登录</span><span>|</span><span class="nm">王某某</span><span>欢迎，</span></div>
<div class="w1000">
  <div class="srh bg"><img src="images/blank.png" />
    <input name="" type="text" />
    <span>首页</span><span>我的房猫</span><span>设置</span> </div>
  <div class="logo bg"></div>
</div>
<div class="w1000 bdr">
  <div class="w172_l">
    <p>王某某</p>
    <img class="tx" src="images/tx.jpg" /><a href="#">个人设置</a><a href="#">项目管理</a><a href="#">客户经理管理</a><a href="#">渠道经理管理</a><a href="#">报备信息列表</a><a href="#">动态后台管理</a><a href="#">安全中心</a>
    <div class="ewm"><span>房猫手机移动端</span> <img src="images/ewm.jpg" /> <span>手机端快速便捷报备</span> </div>
  </div>
  <div class="w800">
    <h1>我的房猫><span> 客户经理管理</span></h1>
    <p class="nm">王某某<span>(管理员)</span></p>
    <p class="zbb">总报备： <span>1102</span> |  总带看： <span>32</span> |  总成交: <span>1102</span></p>
    <div class="box1">
      <h4>新建客户经理</h4>
      <div class="xzxm_r bg">
        <h3>超便捷</h3>
        <p>只需输入购房者信息</p>
        <h3>真服务</h3>
        <p style="margin-bottom:40px;">诚及时为推荐购房者买到理想房子，让你顺利拿到佣金。</p>
        <h3>高透明</h3>
        <p>平台实时记录客户购房进度供您查询，买房过程的每一步都会短信及时通知。佣金活得全在掌握中。</p>
      </div>
      <div class="xzxm">
        <p><select class="bg" name="jumpMenu" id="jumpMenu" onchange="MM_jumpMenu('parent',this,0)">
            <option>北大资源理城</option>
          </select>选择项目：
          
        </p>
        <p>
          <input class="bg" name="" type="text" />
          姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名： </p>
        <p>
          <input class="bg" name="" type="text" />
          手机号码： </p>
        <p><textarea class="bg" name="" cols="1" rows="5"></textarea>备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注：
          
        </p>
        <a href="#" class="tj bg">提交</a> </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="clr"></div>
</div>
</body>
</html>
