<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<link href="{$base_url}css/pc_fm.css" rel="stylesheet" type="text/css"/>
<link href="{$base_url}css/pc_common.css" rel="stylesheet" type="text/css"/>

<script src="{$base_url}js/jquery-v1.10.2.min.js" type="text/javascript"></script>
<script src="{$base_url}js/easydialog.min.js"></script>
<link rel="stylesheet" href="{$base_url}css/easydialog.css"/>
<title>新建项目</title>
</head>
<body>
{include file="pc/head.html"}
<div class="w1000 bdr">
  {include file="pc/menu.html"}
  <div class="w800">
    <h1>我的房猫><span> 项目管理</span></h1>
    <p class="nm">王某某<span>(管理员)</span></p>
    <p class="zbb"><a href="{site_url url='admin_pc/index'}">项目管理</a>总报备： <span>{$all_count.bb_count}</span> |  总带看： <span>{$all_count.dk_count}</span> |  总成交: <span>{$all_count.qy_count}</span></p>
    <div class="box1">
      <h4>新建项目</h4>
      <div class="xjgs">
        <p> <input style="margin-right:42px"class="bg" name="" type="text" />项目名称：
          
        </p>
        <p><input class="bg" style="width:274px; margin-right:85px" name="" type="text" /><span>天</span>
          报备有效期： </p>
        <p>
          <input class="bg" style="width:274px;margin-right:85px"  name="" type="text" /><span>天</span>
          带看有效期： </p>
        <p><textarea class="bg" style="width:360px" name="" cols="1" rows="5"></textarea>备注：
          
        </p>
        <a href="#" class="tj bg">提交</a> </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="clr"></div>
</div>
{include file="pc/foot.html"}
</body>
</html>
