<div class="w1000 top"><span class="sjb bg"><a href="#">手机版</a></span><span>忘记密码?</span><span>|</span><span><a href="{site_url url='login_pc/logout'}">退出登录</a></span><span>|</span><span class="nm">{$rel_name}</span><span>欢迎，</span></div>
<div class="w1000">
  <div class="srh bg"><img src="{$base_url}images/blank.png" />
    <input name="" type="text" />
    <span><a href="{site_url url='index'}"  style="color:#fff;">首页</a></span><a href="{site_url url='index'}"><span style="color:#fff;">我的房猫</span></a><span>设置</span> </div>
  <div class="logo bg"></div>
</div>