<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<link href="{$base_url}css/pc_fm.css" rel="stylesheet" type="text/css"/>
<link href="{$base_url}css/pc_popup.css" rel="stylesheet" type="text/css"/>
<link href="{$base_url}css/pc_common.css" rel="stylesheet" type="text/css"/>

<script src="{$base_url}js/jquery-v1.10.2.min.js" type="text/javascript"></script>
<script src="{$base_url}js/easydialog.min.js"></script>
<link rel="stylesheet" href="{$base_url}css/easydialog.css"/>
<title>客服经理管理</title>
</head>
<body>
{include file="pc/head.html"}


<div class="box_win w454" style="display:none;" id="edit_kfjl">
  <div class="bar3 bg"><a href="javascript:easyDialog.close();"><img src="{$base_url}images/blank.png"  /></a>修改客服经理</div>
  <div class="bdr1" style="background-color:#fff;" >
  <form method="post" action="{site_url url='admin_pc/save_kfjl'}" id="form_edit">
      <p>姓名:<input id="rel_name" type="text" class="input1" readonly/>
      	<input name='id' type="hidden" class="input1" /></p>
      <p>手机:<input id="username" type="text" class="input1" readonly/></p>
      <p>{foreach from=$projects item=row}
      <input type="checkbox" name='project_id[]' value="{$row.id}"/>{$row.project}<br/>
      {/foreach}</p>
      
  <a class="qd2 bg"  href="javascript:save_kfjl_edit();">确  定</a>
    </form>
</div>
</div>


<div class="w1000 bdr">
  {include file="pc/menu.html"}
  <div class="w800">
    <h1>我的房猫><span>客服经理管理</span></h1>
    <p class="nm">{$rel_name}<span>({if $admin_group == '1'}管理员{/if}{if $admin_group == '2'}客服经理{/if}{if $admin_group == '3'}业务员{/if}{if $admin_group == '4'}外联经理{/if}{if $admin_group == '5'}门店经理{/if})</span></p>
    <p class="zbb"><a href="{site_url url='admin_pc/add_kfjl'}">新建客服经理</a>  总报备： <span>{$all_count.bb_count}</span> |  总带看： <span>{$all_count.dk_count}</span> |  总成交: <span>{$all_count.qy_count}</span></p>
    <div class="box1">
      <h2>客户经理列表</h2>
      <table border="0" class="table1">
        <tr>
          <th scope="col">客服经理姓名</th>
          <th scope="col">电话号码</th>
          <th class="w150" scope="col" >操作</th>
        </tr>
        {foreach from=$data item=row key=k name=foo}
        <tr {if $smarty.foreach.foo.index is odd}class="grey_bg"{/if}>
          <td><a href="javascript:detail('{$row.id}')"  class="blue_txt">{$row.rel_name}</a></td>
          <td>{$row.username}</td>
          <td><a href="javascript:edit_kfjl('{$row.id}');"><img src="{$base_url}images/blank.png"  class="cz_img bg" style='background-position:-582px -62px'/></a></td>
          <td>
          <div class="box_win w550" style="display:none" id="{$row.id}">
			<div class="bar2 bg"><a href="javascript:easyDialog.close();"><img src="{$base_url}images/blank.png"  /></a>负责项目</div>
			<div class="bdr1" style="background-color:#fff;">
			<div class="content_l">
			{foreach from=$row.project item=roww}
			  <p>{$roww.project_name}</p>
			{/foreach}
			</div>
			<a class="qd2 bg" href="javascript:easyDialog.close();">确 定</a>
			</div>
			</div>
			</td>
          
        </tr>
        {/foreach}
        
      </table>
    </div>
  </div>
  <div class="clr"></div>
</div>
{include file="pc/foot.html"}
<script>
function detail(id){
	easyDialog.open({
		container : id,
		fixed : true
	});
}

function edit_kfjl(id){
	$.getJSON("{site_url url='admin_pc/get_kfjl'}/"+id,function(data){
		$("[name='id']").val(data.id);
		$("#username").val(data.username);
		$("#rel_name").val(data.rel_name);
		$("[name='project_id[]']").each(function(){
			if($.inArray($(this).val(),data.list) >= 0){
				$(this).attr("checked","checked");
			}
		});
		easyDialog.open({
			container : 'edit_kfjl',
			fixed : false
		});
	});
}

function save_kfjl_edit(){
	var i = 0;
	$("#edit_kfjl [name='project_id[]']").each(function(){
		if($(this).is(":checked")){
			i++;
		}
	});
	if(i == 0){
		alert('请至少选择一个项目');
		return false;
	}
	$("#form_edit").submit();
}
</script>
</body>
</html>
