<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<link href="{$base_url}css/pc_fm.css" rel="stylesheet" type="text/css"/>
<link href="{$base_url}css/pc_common.css" rel="stylesheet" type="text/css"/>
<title>活跃度查询</title>
</head>
<body>
{include file="pc/head.html"}
<div class="w1000 bdr">
  {include file="pc/menu.html"}
  <div class="w800">
    <p class="nm">{$rel_name}<span>({if $admin_group == '1'}管理员{/if}{if $admin_group == '2'}客服经理{/if}{if $admin_group == '3'}业务员{/if}{if $admin_group == '4'}外联经理{/if}{if $admin_group == '5'}门店经理{/if})</span></p>
    <p class="zbb">总报备： <span>{$all_count.bb_count}</span> |  总带看： <span>{$all_count.dk_count}</span> |  总成交: <span>{$all_count.qy_count}</span> </p>
    <div class="box1">
      <h3>活跃度查询</h3>
      <div class="pm">
      <a href="{site_url url='wl_manager_pc/huoyue/1'}" {if $data.type=='1'}class="line"{/if}>综合排名</a><span>|</span>
      <a href="{site_url url='wl_manager_pc/huoyue/2'}" {if $data.type=='2'}class="line"{/if}>报备排名</a><span>|</span>
      <a href="{site_url url='wl_manager_pc/huoyue/3'}" {if $data.type=='3'}class="line"{/if}>带看排名</a><span>|</span>
      <a href="{site_url url='wl_manager_pc/huoyue/4'}" {if $data.type=='4'}class="line"{/if}>成交排名</a>
      </div> 
      <table border="0" class="table2">
        <tr>
          <th scope="col">名次</th>
          <th scope="col">外联公司</th>
          <th scope="col">总分</th>
          <th scope="col" >公司验证码</th>
          <th scope="col">对接经理</th>
          <th scope="col">联系人手机</th>
        </tr>
        {foreach from=$data.res_list item=row key=k}
        <tr {if $k is odd}class="grey_bg"{/if}>
          <td>{if ($data.pageNum-1)*$data.per_page+$k lte 2}<img class="img_pm{($data.pageNum-1)*$data.per_page+$k+1} bg" src="{$base_url}images/blank.png" />{else}{($data.pageNum-1)*$data.per_page+$k+1}{/if}</td>
          <td>{$row.company_name}</td>
          <td>
		  {if $data.type == '1'}{$row.s_bb_count+$row.s_dk_count*50+$row.s_qy_count*500}<br/>（报备{$row.s_bb_count}分 带看{$row.s_dk_count*50}分 成交{$row.s_qy_count*500}分）{/if}
		  {if $data.type == '2'}{$row.s_bb_count}<br/>（报备{$row.s_bb_count}分）{/if}
		  {if $data.type == '3'}{$row.s_dk_count*50}<br/>（带看{$row.s_dk_count*50}分）{/if}
		  {if $data.type == '4'}{$row.s_qy_count*500}<br/>（成交{$row.s_qy_count*500}分）{/if}
		  
		  </td>
          <td>{$row.yqm}</td>
          <td>{$row.rel_name}</td>
          <td>{$row.username}</td>
        </tr>
        {/foreach}
        
      </table>
    </div>
  </div>
  <div class="clr"></div>
</div>
{include file="pc/foot.html"}
</body>
</html>
