<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>客服经理管理</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" href="/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="/assets/css/amazeui.switch.css">
  <link rel="stylesheet" href="/assets/css/app.css">
</head>
<body>
<div class="am-g">
     {{include file="header.html"}}
    <div class="app-tit"><span class="mark">修改密码</span></div>
    <div class="safe-center">
      <form action="" class="am-form" data-am-validator>
      <fieldset>
        <div class="am-form-group">
          <label for="doc-vld-name-2">旧密码：</label>
          <input type="text" id="doc-vld-name-2" minlength="3" placeholder="输入旧密码" required/>
        </div>
        <div class="am-form-group">
          <label for="doc-vld-email-2">新密码：</label>
          <input type="email" id="doc-vld-email-2"  placeholder="输入新密码" required/>
        </div>
        <div class="am-form-group">
          <label for="doc-vld-url-2">再次确认密码：</label>
          <input type="url" id="doc-vld-url-2" placeholder="再次确认新密码：" required/>
        </div>
        <button class="am-btn" type="submit">提交</button>
      </fieldset>
    </form>
</div>
</body>
</html>
