<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable = no' name='viewport'/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{$base_url}css/reg1.css" rel="stylesheet" type="text/css"/>
<script src="/assets/js/jquery.min.js"></script>
<title>会员登录 -房猫经纪人触屏版</title>
</head>
<style>html, body {
background-color: #eee;
color: #333;
font-size: 14px;
-webkit-text-size-adjust: none;
}</style>
<body>
<div id="tbh5v0" class="login">
    <header class="c-nav">
            <div class="c-nav-w">
              <div class="c-nav-s">
                <a class="c-btn c-btn-aw" href="{{site_url url='index'}}">返回</a>
              </div>
              <div class="c-nav-c">
                <span class="omit">用户登录</span>
              </div>
              <div class="c-nav-e">
                
              </div>
            </div>
        </header>
     
<section class="innercontent">

            <form method="post" class="c-form login-form" id="J_Register" action="{{site_url url='login/check_login'}}">
                <fieldset>
                    <div class="field username">
                        <div class="c-form-search st">
                            <input type="text" id="J_UserNameTxt" placeholder="账号/手机" value="" class="c-f-text" name="name"/><span></span></button>
                        </div>
                        <div class="tips"></div>
                    </div>
                    <div class="field pwd">
                        <div class="ptxt st">
                            <input id="J_PassWordTxt" type="password"  name="passwd"value="" placeholder="密码" class="c-f-text"/>
                            
                        </div>
                         <div class="tips"></div>
                    </div>

                    <div class="field identifyCode">
                        
                        <div class="tips"></div>
                    </div>

                    <div class="field submit-btn">
                        <input type="button" class="c-btn-orange" onclick="$('form').submit();" value="登录"/>
                        </div>
                        
<div class="field login-option">
                        <span class="reg-find-pwd">
           
                                                        <!--<a href="forget_password.html" class="forget-pwd" target="_top" data-spm-anchor-id="0.0.0.0">修改密码</a>
                                                    --></span>
                    </div>

                </fieldset>
            </form>
</section>



</body>
</html>
