<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>客服经理管理</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" href="/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="/assets/css/app.css">
</head>
<body>
<div class="am-g">
   {{include file="header.html"}}
     <div class="app-tit">
      <span class="mark">报备列表</span>
      <span class="smark">共{{$data.total_rows}}组</span>
    </div>
    <section data-am-widget="accordion" class="am-accordion am-accordion-default"
    data-am-accordion='{}'>
    {{foreach from = $data.res_list item=row key=k}}
      <dl class="am-accordion-item">
        <dt class="am-accordion-title">
          <div class="fl">
            <span class="s-user-name"><i class="am-icon-user"></i>{{$row.name}}</span>
            <span><i class="am-icon-calendar"></i>{{$row.cdate|date_format:"%Y-%m-%d"}}</span>
          </div>
          <div class="fr">
            {{if $row.status == '1' or $row.status == '2'}}<span><i class="am-icon-check-circle"></i>已报备</span>{{/if}}
            {{if $row.status == '3' or $row.status == '4'}}<span><i class="am-icon-check-circle am-icon-check1-circle"></i>已带看</span>{{/if}}
            {{if $row.status == '5'}}<span><i class="am-icon-check-circle am-icon-check2-circle"></i>已签约</span>{{/if}}
            <span><i class="am-icon-angle-right"></i></span>
          </div>
        </dt>
        <dd class="am-accordion-bd am-collapse">
          <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
          <div class="am-accordion-content">
             <p><i class="am-front-icon am-icon-phone"></i>电话：{{$row.phone}}<a href="tel:{{$row.phone}}" class="am-btn-call am-icon-phone"></a></p>
             <p><i class="am-front-icon am-icon-clock-o"></i>创建时间：{{$row.cdate}}</p>
             <p><i class="am-front-icon am-icon-times-circle-o"></i>带看时间：{{$row.ddate}}</p>
             <p><i class="am-front-icon am-icon-globe"></i>客户来源：{{$row.target}}</p>
             <p><i class="am-front-icon am-icon-indent"></i>身份证号： {{$row.idno}}</p>
             <p><i class="am-front-icon am-icon-venus-double"></i>性别： {{$row.sex}}</p>
             <p><i class="am-front-icon am-icon-institution"></i>项目：{{$row.project}}</p>
             <p><i class="am-front-icon am-icon-edit"></i>备注：{{$row.remark}}</p>
             <div class="con-state-div">
				{{if $row.status == '1' or $row.status == '2'}}<span class="con-cus-state con-cus-ybb"></span>{{/if}}
				{{if $row.status == '3' or $row.status == '3'}}<span class="con-cus-state con-cus-ydk"></span>{{/if}}
				{{if $row.status == '5'}}<span class="con-cus-state con-cus-yqy"></span>{{/if}}
                <p class="p-state"><span>已报备</span><span>即将到期</span><span>已带看</span><span>即将到期</span><span>已签约</span></p>
             </div>
             {{if $row.status == '1' or $row.status == '2'}}<a href="javascript:confirm_dk('{{$row.id}}');" class="am-btn am-btn-secondary" ><i class="am-icon-slideshare"></i>确认带看</a>{{/if}}
             {{if $row.status == '3' or $row.status == '4'}}<a href="javascript:confirm_qy('{{$row.id}}');" type="button" class="am-btn am-btn-secondary"><i class="am-icon-check-circle"></i>确认签约</a>{{/if}}
          </div>
        </dd>
      </dl>
      {{/foreach}}
    </section>
    <div class="amz-toolbar" id="amz-toolbar">
      <!-- 菜单 -->
      <!-- 左侧侧滑菜单 -->
      {{include file="menu.html"}}
      <!-- <a href="" class="am-icon-btn am-icon-list am-active"></a> -->
      <!-- 搜索 -->
      <a href="javascript:void(0)" class="am-icon-btn am-icon-search" data-am-modal="{target: '#my-actions-search'}"></a>
    </div>
    <!-- 分页 -->
    {{if $data.total_page > 1}}
    <ul data-am-widget="pagination" class="am-pagination am-pagination-select">
      <li class="am-pagination-prev ">
      
      	{{if $data.pageNum lte 1}}
		<a class="off">上一页</a>
		{{else}}
		<a href="javascript:get_search('{{$data.pageNum -1}}');">上一页</a>
		{{/if}}
      </li>
      <li class="am-pagination-select">
        <select onchange="get_search(this.value);">
        {{section name=loop loop=$data.total_page}}
          <option value="{{$smarty.section.loop.index + 1}}" class="" {{if $smarty.section.loop.index + 1 eq $data.pageNum}}selected='selected'{{/if}}>{{$smarty.section.loop.index + 1}}/{{$data.total_page}}</option>
        {{/section}}
        </select>
      </li>
      <li class="am-pagination-next ">
      	{{if $data.pageNum gte $data.total_page}}
		<a class="off">下一页</a>
		{{else}}
		<a href="javascript:get_search('{{$data.pageNum +1}}');">下一页</a>
		{{/if}}
      </li>
    </ul>
    {{/if}}
	<!-- 分页 -->

    <!-- 搜索 -->
     <div class="am-modal-actions" id="my-actions-search">
      <div class="am-modal-actions-group">
		<form method="post" action="{{site_url url='kf_manager/m_list_bb'}}" class="am-form">
          <fieldset>
              <div class="am-form-group">
                <select id="doc-select-1"  name="project_id">
                  <option value="">——请选择报备项目——</option>
                  {{foreach from=$projects item=row}}
			      <option value="{{$row.id}}" {{if $data.project_id eq $row.id}}selected='selected'{{/if}}>{{$row.project}}</option>
			      {{/foreach}}
                </select>      
              </div>
              <div class="am-form-group">
                <select id="doc-select-2" name="status">
                  <option value="">——请选择报备状态——</option>
                  <option value="1" {{if $data.status eq '1'}}selected='selected'{{/if}}>已报备</option>
			      <option value="2" {{if $data.status eq '2'}}selected='selected'{{/if}}>报备即将到期</option>
			      <option value="3" {{if $data.status eq '3'}}selected='selected'{{/if}}>已带看</option>
			      <option value="4" {{if $data.status eq '4'}}selected='selected'{{/if}}>带看即将到期</option>
			      <option value="5" {{if $data.status eq '5'}}selected='selected'{{/if}}>已签约</option>
                </select>
              </div>
               <div class="am-form-group">
                <div class="am-u-sm-6">
                  <input type="text" name="start_date" class="am-form-field" placeholder="开始日期" value="{{$data.start_date}}" id="my-start-2" readonly/>
                </div>
                <div class="am-u-sm-6">
                  <input name="end_date" type="text" class="am-form-field" placeholder="结束日期" value="{{$data.end_date}}" id="my-end-2" readonly/>
                </div>
              </div>
              <div class="am-form-group">
                <input type="text" id="doc-vld-name-2" placeholder="客户(姓名、电话)模糊搜索" name="main_search" value="{{$data.main_search}}"/>
              </div>
            <button class="am-btn am-icon-search-1" type="submit">搜索</button>
          </fieldset>
       </form>       
      </div>
      <div class="am-modal-actions-group">
        <button class="am-btn am-btn-secondary am-btn-block" id="aaaaa" data-am-modal-close>取消</button>
      </div>
    </div>

<div class="am-modal am-modal-loading am-modal-no-btn" tabindex="-1" id="my-modal-loading">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">操作成功...</div>
    <div class="am-modal-bd">
      <span class="am-icon-spinner am-icon-spin"></span>
    </div>
  </div>
</div>
    
<div class="am-modal am-modal-confirm" tabindex="-1" id="my-confirm-dk">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">提示</div>
    <div class="am-modal-bd">
      你，确定要带看吗？
    </div>
    <div class="am-modal-footer">
      <span class="am-modal-btn" data-am-modal-cancel>取消</span>
      <span class="am-modal-btn" data-am-modal-confirm>确定</span>
    </div>
  </div>
</div>

<div class="am-modal am-modal-confirm" tabindex="-1" id="my-confirm-qy">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">提示</div>
    <div class="am-modal-bd">
      你，确定要签约吗？
    </div>
    <div class="am-modal-footer">
      <span class="am-modal-btn" data-am-modal-cancel>取消</span>
      <span class="am-modal-btn" data-am-modal-confirm>确定</span>
    </div>
  </div>
</div>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/amazeui.min.js"></script>
<script type="text/javascript">
//开始日期-结束日期
  $(function() {
    var nowTemp = new Date();
    var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
    var $myStart2 = $('#my-start-2');

    var checkin = $myStart2.datepicker().on('changeDate.datepicker.amui', function(ev) {
        if (ev.date.valueOf() > checkout.date.valueOf()) {
          var newDate = new Date(ev.date)
          newDate.setDate(newDate.getDate());
          checkout.setValue(newDate);
        }
        checkin.close();
        //$('#my-end-2')[0].focus();
    }).data('amui.datepicker');
    var checkout = $('#my-end-2').datepicker().on('changeDate.datepicker.amui', function(ev) {
      checkout.close();
    }).data('amui.datepicker');
  });
  function get_search(page){
		$('form').attr('action',"{{site_url url='kf_manager/m_list_bb'}}"+"/" + page);
		$("form").submit();
  }
  
  var callFn = function(){
		get_search({{$data.pageNum}});
	};
  
  function confirm_qy(id){
		$("#my-confirm-qy").modal({
			relatedTarget: this,
			onConfirm:function(){
				$.get("{{site_url url='kf_manager/confirm_qy'}}/"+id,function(data){
					if(data == '1'){
						$("#my-modal-loading").modal();
						setTimeout(callFn,1200); 
					}
				});
			}
		});
	}
  
  function confirm_dk(id){
		$("#my-confirm-dk").modal({
			relatedTarget: this,
			onConfirm:function(){
				$.get("{{site_url url='kf_manager/confirm_dk'}}/"+id,function(data){
					if(data == '1'){
						$("#my-modal-loading").modal();
						setTimeout(callFn,1200); 
					}
				});
			}
		});
	}
</script>
</body>
</html>
