<nav data-am-widget="menu" class="am-menu  am-menu-offcanvas1" data-am-menu-offcanvas>
<a href="javascript:void(0)" class="am-icon-btn am-menu-toggle am-icon-bars"></a>
<div class="am-offcanvas">
  <div class="am-offcanvas-bar">
    <ul class="am-menu-nav am-avg-sm-1">
        <li class="">
          <a href="{{site_url url='user/wdbb'}}" class="">我的报备</a>
        </li>
        <li class="">
          <a href="{{site_url url='user/wybb'}}" class="">我要报备</a>
        </li>
        <li class="">
          <a href="{{site_url url='login'}}" class="">切换账号</a>
        </li>
      </ul>
    </div>
  </div>
</nav>