<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>渠道经理管理</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta content="telephone=no" name="format-detection" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" href="/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="/assets/css/app.css">
</head>
<body>
<div class="am-g">
    {{include file="header.html"}}
     <div class="app-tit">
      <span class="mark">渠道经理列表</span>
    </div>
    <section data-am-widget="accordion" class="am-accordion am-accordion-default"
    data-am-accordion='{}'>
    {{foreach from=$data item=row}}
      <dl class="am-accordion-item">
        <dt class="am-accordion-title">
          <div class="fl">
            <span><i class="am-icon-users"></i>{{$row.rel_name}}</span>
          </div>
          <div class="fr">
            <span><i class="am-icon-angle-down"></i></span>
          </div>
        </dt>
        <dd class="am-accordion-bd am-collapse">
          <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
          <div class="am-accordion-content">
             <p>手机号码：{{$row.username}}<a href="tel:{{$row.username}}" class="am-btn-call am-icon-phone"></a></p>
             <button type="button" class="am-btn am-btn-secondary" data-am-modal="{target: '#my-popup-editywy-{{$row.id}}'}"><i class="am-icon-cog"></i>编辑</button>
          </div>
        </dd>
      </dl>
	    <div class="am-popup" id="my-popup-editywy-{{$row.id}}">
	      <div class="am-popup-inner">
	        <div class="am-popup-hd">
	          <h4 class="am-popup-title">编辑渠道经理</h4>
	          <span data-am-modal-close class="am-close">&times;</span>
	        </div>
	        <div class="am-popup-bd">
	          <form method="post" action="{{site_url url='admin/save_qdjl'}}" class="am-form" data-am-validator>
	            <fieldset>
	              <div class="am-form-group">
	                <label for="doc-vld-name">渠道经理：</label>
	                <input type="hidden" name="id" value="{{$row.id}}"/>
	                <input type="text" id="doc-vld-name" name="rel_name" value="{{$row.rel_name}}" placeholder="输入业务员" class="am-form-field" required/>
	              </div>
	              <div class="am-form-group">
	                <label for="doc-vld-name">手机号码：</label>
	                <input type="text" id="doc-vld-name" name="username" value="{{$row.username}}" placeholder="输入手机号码" pattern="^1\d{10}$" class="am-form-field" required/>
	              </div>
	              <button class="am-btn" type="submit">提交</button>
	            </fieldset>
	          </form>
	        </div>
	      </div>
	    </div>
    {{/foreach}}
    </section>
    <div class="amz-toolbar" id="amz-toolbar">
      <!-- 菜单 -->
      <a href="javascript:void(0)" class="am-icon-btn am-icon-plus" data-am-modal="{target: '#my-popup-add'}"></a>
      <!-- 左侧侧滑菜单 -->
      {{include file="menu.html"}}
    </div>
    <div class="am-popup" id="my-popup-add">
      <div class="am-popup-inner">
        <div class="am-popup-hd">
          <h4 class="am-popup-title">新增渠道经理</h4>
          <span data-am-modal-close class="am-close">&times;</span>
        </div>
        <div class="am-popup-bd">
          <form method="post" action="{{site_url url='admin/save_qdjl'}}" class="am-form" data-am-validator>
            <fieldset>
              <div class="am-form-group">
                <label for="doc-vld-name">业务员：</label>
                <input type="text" id="doc-vld-name" name="rel_name"  placeholder="输入业务员" class="am-form-field" required/>
              </div>
              <div class="am-form-group">
                <label for="doc-vld-name">手机号码：</label>
                <input type="text" id="doc-vld-name" name="username" placeholder="输入手机号码" pattern="^1\d{10}$" class="am-form-field" required/>
              </div>
              <button class="am-btn" type="submit">提交</button>
            </fieldset>
          </form>
        </div>
      </div>
  </div>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/amazeui.min.js"></script>
</body>
</html>
