<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>客服经理管理</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta content="telephone=no" name="format-detection" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" href="/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="/assets/css/app.css">
</head>
<body>
<div class="am-g">
    {{include file="header.html"}}
     <div class="app-tit">
      <span class="mark">渠道经理签约公司列表</span>
    </div>
    <section data-am-widget="accordion" class="am-accordion am-accordion-default"
    data-am-accordion='{}'>
    {{foreach from=$list item=row}}
      <dl class="am-accordion-item">
        <dt class="am-accordion-title">
          <div class="fl">
            <span><i class="am-icon-users"></i>{{$row.company_name}}</span>
          </div>
          <div class="fr">
            <span><i class="am-icon-angle-down"></i></span>
          </div>
        </dt>
        <dd class="am-accordion-bd am-collapse">
          <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
          <div class="am-accordion-content">
             <p>联系人：{{$row.rel_name}}</p>
             <p>联系人手机：{{$row.phone}}</p>
             <p>公司邀请码：{{$row.yqm}}</p>
             <p>公司地址：{{$row.address}}</p>
             <p>公司固话：{{$row.tel}}</p>
             <p>公司账户：{{$row.zhanghu}}</p>
             <p>公司规模：{{$row.guimo}}</p>
          </div>
          <button type="button" class="am-btn am-btn-secondary" data-am-modal="{target: '#my-popup-edit-{{$row.id}}'}"><i class="am-icon-cog"></i>编辑</button>
        </dd>
      </dl>
      
      <div class="am-popup" id="my-popup-edit-{{$row.id}}">
      <div class="am-popup-inner">
        <div class="am-popup-hd">
          <h4 class="am-popup-title">新增公司</h4>
          <span data-am-modal-close class="am-close">&times;</span>
        </div>
        <div class="am-popup-bd">
          <form method="post" action="{{site_url url='wl_manager/save_company'}}" class="am-form" data-am-validator>
            <fieldset>
              <div class="am-form-group">
                <label for="doc-vld-name">公司名称：</label>
                <input type="hidden" name="id" value="{{$row.id}}"/>
                <input type="text" id="doc-vld-name" name="company_name" value="{{$row.company_name}}" placeholder="输入公司名称" class="am-form-field" required/>
              </div>
              <div class="am-form-group">
                <label for="doc-vld-name">公司对接经理：</label>
                <input type="text" id="doc-vld-name" name="rel_name" value="{{$row.rel_name}}" placeholder="输入公司对接经理" class="am-form-field" required/>
              </div>
              <div class="am-form-group">
                <label for="doc-vld-name">手机号码：</label>
                <input type="number" id="doc-vld-name" name="username" value="{{$row.username}}" placeholder="输入手机号码" class="am-form-field" pattern="^1\d{10}$" required/>
              </div>
              <div class="am-form-group">
                <label for="doc-vld-name">公司地址：</label>
                <input type="text" id="doc-vld-name" name="address" value="{{$row.address}}" placeholder="输入公司地址" class="am-form-field" />
              </div>
              <div class="am-form-group">
                <label for="doc-vld-name">联系固话：</label>
                <input type="text" id="doc-vld-name" name="tel" value="{{$row.tel}}" placeholder="输入联系固话" class="am-form-field" />
              </div>
              <div class="am-form-group">
                <label for="doc-vld-name">公司账户：</label>
                <input type="text" id="doc-vld-name" name="zhanghu" value="{{$row.zhanghu}}" placeholder="输入公司账户" class="am-form-field" />
              </div>
              <div class="am-form-group">
                <label for="doc-vld-name">公司规模：</label>
                <input type="text" id="doc-vld-name" name="guimo" value="{{$row.guimo}}" placeholder="输入公司规模" class="am-form-field" />
              </div>
              <button class="am-btn" type="submit">提交</button>
            </fieldset>
          </form>
        </div>
      </div>
  </div>
      
    {{/foreach}}
    </section>
    <div class="amz-toolbar" id="amz-toolbar">
      <!-- 菜单 -->
      <a href="javascript:void(0)" class="am-icon-btn am-icon-plus" data-am-modal="{target: '#my-popup'}"></a>
      <!-- 左侧侧滑菜单 -->
      {{include file="menu.html"}}
    </div>
    <div class="am-popup" id="my-popup">
      <div class="am-popup-inner">
        <div class="am-popup-hd">
          <h4 class="am-popup-title">新增公司</h4>
          <span data-am-modal-close class="am-close">&times;</span>
        </div>
        <div class="am-popup-bd">
          <form method="post" action="{{site_url url='wl_manager/save_company'}}" class="am-form" data-am-validator>
            <fieldset>
              <div class="am-form-group">
                <label for="doc-vld-name">公司名称：</label>
                <input type="text" id="doc-vld-name" name="company_name" placeholder="输入公司名称" class="am-form-field" required/>
              </div>
              <div class="am-form-group">
                <label for="doc-vld-name">公司对接经理：</label>
                <input type="text" id="doc-vld-name" name="rel_name" placeholder="输入公司对接经理" class="am-form-field" required/>
              </div>
              <div class="am-form-group">
                <label for="doc-vld-name">手机号码：</label>
                <input type="number" id="doc-vld-name" name="username" placeholder="输入手机号码" class="am-form-field" pattern="^1\d{10}$" required/>
              </div>
              <div class="am-form-group">
                <label for="doc-vld-name">公司地址：</label>
                <input type="text" id="doc-vld-name" name="address" placeholder="输入公司地址" class="am-form-field" />
              </div>
              <div class="am-form-group">
                <label for="doc-vld-name">联系固话：</label>
                <input type="text" id="doc-vld-name" name="tel" placeholder="输入联系固话" class="am-form-field" />
              </div>
              <div class="am-form-group">
                <label for="doc-vld-name">公司账户：</label>
                <input type="text" id="doc-vld-name" name="zhanghu" placeholder="输入公司账户" class="am-form-field" />
              </div>
              <div class="am-form-group">
                <label for="doc-vld-name">公司规模：</label>
                <input type="text" id="doc-vld-name" name="guimo" placeholder="输入公司规模" class="am-form-field" />
              </div>
              <button class="am-btn" type="submit">提交</button>
            </fieldset>
          </form>
        </div>
      </div>
  </div>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/amazeui.min.js"></script>
</body>
</html>
