<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>普通用户</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" href="/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="/assets/css/amazeui.switch.css">
  <link rel="stylesheet" href="/assets/css/app.css">
</head>
<body>
<div class="am-g">
    {{include file="header.html"}}
    <ul class="admin-content-list">
      <li>
        <div class="am-txt-fl">
          <a href="" class="am-text-success">
            <span class="am-icon-btn am-icon-file-text"></span>
            <br />
            总报备<br />
            23组
          </a>
        </div>
        <div class="am-txt-fr">
          一周报备<em class="am-text-success">1</em>组<br />
          一月报备<em class="am-text-success">3</em>组
        </div>
      </li>
      <li>
        <div class="am-txt-fl">
          <a href="" class="am-text-warning">
            <span class="am-icon-btn am-icon-slideshare"></span>
            <br />
            总带看<br />
            23组
          </a>
        </div>
        <div class="am-txt-fr">
          一周报备<em class="am-text-warning">1</em>组<br />
          一月报备<em class="am-text-warning">3</em>组
        </div>
      </li>
      <li>
        <div class="am-txt-fl">
          <a href="" class="am-text-danger">
            <span class="am-icon-btn am-icon-check-circle"></span>
            <br />
            总成交<br />
            23组
          </a>
        </div>
        <div class="am-txt-fr">
          一周报备<em class="am-text-danger">1</em>组<br />
          一月报备<em class="am-text-danger">3</em>组
        </div>
      </li>
      <li>
        <div class="am-txt-fl">
          <a href="" class="am-text-secondary">
            <span class="am-icon-btn am-icon-exclamation-circle"></span>
            <br />
            即将到期<br />
            23组
          </a>
        </div>
        <div class="am-txt-fr">
          一周报备<em class="am-text-secondary">1</em>组<br />
          一月报备<em class="am-text-secondary">3</em>组
        </div>
      </li>
    </ul>
     <div class="amz-toolbar" id="amz-toolbar">
      <!-- 左侧侧滑菜单 -->
      {{include file="menu.html"}}
    </div>
</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/amazeui.min.js"></script>
</body>
</html>
