<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>普通用户</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" href="/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="/assets/css/amazeui.switch.css">
  <link rel="stylesheet" href="/assets/css/app.css">
</head>
<body>
<div class="am-g">
    {{include file="header.html"}}
    <form method="post" action="{{site_url url='user/wdbb'}}">
    <input type="hidden" name="status" />
    <ul class="admin-content-list">
      <li>
        <div class="am-txt-fl">
          <a href="javascript:get_search('');" class="am-text-success">
            <span class="am-icon-btn am-icon-file-text"></span>
            <br />
            总报备<br />
            {{$data.zbb}}组
          </a>
        </div>
        <div class="am-txt-fr">
          一周报备<em class="am-text-success">{{$data.wbb}}</em>组<br />
          一月报备<em class="am-text-success">{{$data.mbb}}</em>组
        </div>
      </li>
      <li>
        <div class="am-txt-fl">
          <a href="javascript:get_search('3');" class="am-text-warning">
            <span class="am-icon-btn am-icon-slideshare"></span>
            <br />
            总带看<br />
            {{$data.zdk}}组
          </a>
        </div>
        <div class="am-txt-fr">
          一周带看<em class="am-text-warning">{{$data.wdk}}</em>组<br />
          一月带看<em class="am-text-warning">{{$data.mdk}}</em>组
        </div>
      </li>
      <li>
        <div class="am-txt-fl">
          <a href="javascript:get_search('5');" class="am-text-danger">
            <span class="am-icon-btn am-icon-check-circle"></span>
            <br />
            总成交<br />
            {{$data.zcj}}组
          </a>
        </div>
        <div class="am-txt-fr">
          一周成交<em class="am-text-danger">{{$data.wcj}}</em>组<br />
          一月成交<em class="am-text-danger">{{$data.mcj}}</em>组
        </div>
      </li>
      <li>
        <div class="am-txt-fl">
          <a href="javascript:get_search('2');" class="am-text-secondary">
            <span class="am-icon-btn am-icon-exclamation-circle"></span>
            <br />
            即将到期<br />
            {{$data.zdq}}组
          </a>
        </div>
        <div class="am-txt-fr">
          带看将到期<em class="am-text-secondary">{{$data.ddq}}</em>组<br />
          签约将到期<em class="am-text-secondary">{{$data.qdq}}</em>组
        </div>
      </li>
    </ul>
    </form>
     <div class="amz-toolbar" id="amz-toolbar">
      <!-- 左侧侧滑菜单 -->
      {{include file="menu.html"}}
    </div>
</div>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/amazeui.min.js"></script>
<script>
function get_search(status){
	$("[name='status']").val(status);
	$("form").submit();
}
</script>
</body>
</html>
